.one-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.two-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tl-background {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tr-background {
    background-color: rgb(70, 70, 70);
}

.tr-format {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.login-card-width {
    width: 40vw;
}

.sup-bar {
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(80, 80, 80);
    top: 0;
    box-shadow: 0px 5px 10px 10px rgba(40, 40, 40, .2);
}

.comp-content {
    height: 84vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}

.down-bar {
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(80, 80, 80);
    top: 100vh;
    box-shadow: 10px 10px 10px 20px rgba(40, 40, 40, .3);
}

.desc-w-container {
    width: 35vw;
}

.msg-w-container {
    width: 45vw;
}



.comp-content::-webkit-scrollbar {
    width: 16px;
}
  
.comp-content::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
    border-radius: 20px;
}
  
.comp-content::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border-radius: 20px;
    border: 6px solid rgb(80, 80, 80);
}


.align-title {
    width: 40vw;
}

.categories-labels {
    width: 45vw;
}


/* LOADER */
.loader-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #a3a3a3;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}