.one-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.two-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tl-background {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tr-background {
    background-color: rgb(70, 70, 70);
}

.tr-format {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.login-card-width {
    width: 40vw;
}

.sup-bar {
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(80, 80, 80);
    top: 0;
    box-shadow: 0px 5px 10px 10px rgba(40, 40, 40, .2);
}

.comp-content {
    height: 84vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}

.down-bar {
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(80, 80, 80);
    top: 100vh;
    box-shadow: 10px 10px 10px 20px rgba(40, 40, 40, .3);
}

.desc-w-container {
    width: 35vw;
}

.msg-w-container {
    width: 45vw;
}



.comp-content::-webkit-scrollbar {
    width: 16px;
}
  
.comp-content::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
    border-radius: 20px;
}
  
.comp-content::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border-radius: 20px;
    border: 6px solid rgb(80, 80, 80);
}


.align-title {
    width: 40vw;
}

.categories-labels {
    width: 45vw;
}