.one-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.two-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tl-background {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tr-background {
    background-color: rgb(70, 70, 70);
}

.tr-format {
    position: static;
}

.login-card-width {
    width: 40vw;
}

.sup-bar {
    background-color: aqua;
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.comp-content {
    background-color: antiquewhite;
    height: 84vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down-bar {
    background-color: rgb(187, 187, 27);
    height: 8vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}